/* CSS Document */

#map_reunion {
	background: url(../img/carte.jpg);
	width: 454px;
	height: 392px;
	display: inline-block;
	position: relative;
}

.temp_int {
	color: #fff;
	font-size: 16pt;
	font-weight: bold;
}

.cilaos {
	position: absolute;
	margin-top: 186px;
	margin-left: 234px;
}